.header__lang-link {
  color: white;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  text-decoration: none;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0;
}
.header__lang-link:hover {
  opacity: 0.8;
}
@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}