@font-face {
  font-family: 'Inter';
  src: url(./static/Inter-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: 'Inter';
  src: url(./static/Inter-Black.ttf);
  font-weight: 900;
}
@font-face {
  font-family: 'Inter';
  src: url(./static/Inter-Regular.ttf);
  font-style: regular;
  font-weight: 400;
}